<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/angular-cookies/angular-cookies.js"></script>
    <script src="js/angular-translate/angular-translate.js"></script>
    <script src="js/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="js/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <title>Page2</title>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <h3>This browser lang setup is: {{lang}}</h3>
    <h3>Following is translate result:</h3>
    <span>you can change the browser lang setup to test the demo!</span>
    <h1 style="color: red">{{"HELLO"| translate}}</h1>
    <h2 style="color: red"> {{"WORLD"| translate}} !! </h2>
    <p translate="PARAGRAPH" translate-values="{username: '<span style=\'color:red;\'>HACKED</span>'}"></p>
    <button ng-click="translate('en')">en</button>
    <button ng-click="translate('zh')">zh</button>
    <a href="index.html">go to next page</a>
</div>
</body>
</html>
